.container {
    text-align: center;
  }
  
  .animated {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  